.container {
  width: 90%;
  margin: 0 auto;
}

.SecondContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  
  @media (max-width: 62.5rem) {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  }
}

.pai {
  .second_title {
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-family: 'Heebo';
    text-align: center;
    padding-top: .8rem;
  }
}

.left {
  display: flex;

  @media (max-width: 62.5rem) {
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
  }

  .internal_left_second {
    display: flex;
    width: 55rem;
    align-items: center;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;

    .texto {
      width: 100%;
      text-align: center;
      color: #fff;
      font-family: 'Heebo';
    }
  }

  .circle {
    background: #189fda;
    border-radius: 50%;
    color: #fff;
    font-family: 'Heebo';
    padding: 1.875rem;
    font-size: 1.25rem;
    height: 3.125rem;
    width: 3.125rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.right {
  height: auto;

  img {
    width: 100%;
    height: auto;
    margin-left: 1.5rem;
  }
}

#image_right {
  width: 20rem;
}