.ThirdContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}

.FaleConoscoContent {
  background: #0c5fc5;
  margin-top: 20rem;
  height: 35rem;
}

.ThirdPai {
  display: flex;
  justify-content: center;
  flex-direction: column;
  h1 {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Heebo';
    margin-top: -20px;
    margin-bottom: 20px;
  }
  height: auto;
  background-color: #0c1b24;
  border-radius: .4125rem;
  width: 50rem;
  height: 30rem;
  margin-top: -7rem;
  
  input {
    height: 50px;
    width: 350px;
  }
  align-items: center;
  input[type='submit'] {
    font-size: 15px;
    color: #0c1b24;
    font-weight: 600;
    border-radius: 10px 0px 10px 0px;
    border: none;
    cursor: pointer;
  }
  input[type='email'] {
    padding: 10px;
    border-radius: 10px 0px 10px 0px;
    border: none;
    color: #97a0a5;
    font-size: 15px;
  }
  input[type='text'] {
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    color: #97a0a5;
    border: none;
  }

  textarea {
    margin: 5px 5px;
    border-radius: 10px 0px 10px 0px;
    font-size: 12px;
    padding: 3px;
    cursor: default;
    color: #97a0a5;
    resize: none;

    }
  font-weight: 600;
}

